@model TriThucOnline_TTN.Models.DAUSACH
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAmin.cshtml";
}

<h2>Details</h2>



<style>
    *{
        box-sizing:border-box;
    }
    .book__image{
        text-align:center;
    }
    .book__image img{
        border:1px solid #EAE8E8;
        padding:20px 70px;
        max-width:450px;
    }
    .book__name{
        font-weight:600;
    }
    .book__price{
        font-size:32px;
        font-weight:700;
        color:#b70046;
    }
    .book__amount{
        font-size:16px;
        font-weight: 600;
    }
    .book__vote{
        padding-bottom:15px;
    }
    .book__amount input{
        padding-left: 50px;
        line-height: 35px;
    }
    .book__intro img{
        max-width:150px;
        border-radius:50%;
    }
    .book__information{
        margin-top:35px;
    }
    .book__information table{
        margin-left:30px;
        margin-top:20px;
        width:80%;
    }
    .book__information td,th{
        
        border-top:1px solid #EAE8E8;
        line-height:40px;
    }
    .button-buy{
        margin-top:10px;
        line-height:40px;
        font-size:14px;
        font-weight:600;
        display:inline-block;
    }
    .button-buy--cart{
        border: 2px solid #b70046;
        border-radius:30px ;
        padding:0 25px;
        float:left;
        color:#b70046;
    }
    .button-buy--buy{
        border-radius:30px ;
        background-color: #b70046;
        color:white;
        padding: 0 55px;
    }
</style>


<div class="container">
    <div class="row">


        <div class="col-md-5" style="text-align:center">
            <div class="book__image">
                <img src="@Html.DisplayFor(model => model.PicBook)" alt="Alternate Text" />
            </div>
            <div class="button-buy">
                <button class="button-buy--cart">
                    <i class="fas fa-cart-plus"></i>
                    Thêm vào giỏ hàng
                </button>
                <button class="button-buy--buy">
                    mua hàng
                </button>
            </div>
        </div>
        <div class="col-md-7">
            <h3 class="book__name">
                @Html.DisplayFor(model => model.Tensach)
            </h3>
            <div class="book__vote">
                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            </div>
            <ul class="col-sm-7">
                <li>
                    <p class="book__NXB">
                        Nhà xuất bản :
                        <a href="@Url.Action("Details", "NXB", new { @id = @Model.NXB.MaNXB })">
                            @Html.DisplayFor(model => model.NXB.TenNXB)
                        </a>
                    </p>
                </li>
                <li>
                    <p class="book__tacgia">
                        Tác giả :
                        <a href="@Url.Action("Details","TACGIA",new { @id = @Model.MaTG})">
                            @Html.DisplayFor(model => model.TACGIA.TenTG)
                        </a>
                    </p>
                </li>
            </ul>
            <ul class="col-sm-5">
                <li>
                    <p class="book__theloai">
                        Thể Loại :
                        <a href="@Url.Action("Details","THELOAI",new { @id = @Model.MaTL})">
                            @Html.DisplayFor(model => model.THELOAI.TenTL)
                        </a>
                    </p>
                </li>
                <li>
                    <p class="book__namxuatban">
                        Năm xuất bản : @Html.DisplayFor(model => model.Namxuatban)
                    </p>
                </li>
            </ul>

            <p class="book__price">
                @Html.DisplayFor(model => model.Price) đ
            </p>
            <form class="book__amount" action="">
                <label for="quantity"> Số lượng :</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1" max="50">

            </form>
        </div>
    </div>
    <div class="book__information">
        <p style="font-size:18px">Thông tin sản phẩm </p>
        <table>
            <tr>
                <th>Mã Sách </th>
                <td>@Html.DisplayFor(model => model.Masach)</td>
            </tr>
            <tr>
                <th>Tên sách </th>
                <td>@Html.DisplayFor(model=>model.Tensach)</td>
            </tr>
            <tr>
                <th>Số Trang </th>
                <td>@Html.DisplayFor(model=>model.Sotrang)</td>
            </tr>
            <tr>
                <th>Tác Gỉa </th>
                <td>@Html.DisplayFor(model=>model.TACGIA.TenTG)</td>
            </tr>
            <tr>
                <th>Nhà xuất bản </th>
                <td>@Html.DisplayFor(model=>model.NXB.TenNXB)</td>
            </tr>
        </table>
        <hr />
        <div class="book__intro">
            <p style="font-size:20px;font-weight:600;">GIỚI THIỆU SÁCH </p>
            <img src="@Html.DisplayFor(model=>model.TACGIA.PicTG)" />
            <u>“ @Html.DisplayFor(model=>model.Trichdan) ”</u>
            <br />
            <p>@Html.DisplayFor(model => model.Bocucsach)</p>
        </div>
            



    </div>
</div>


